
        <h1>Все Оружия</h1>
        <h3>@Model.gunsCategory</h3>
    @{
        foreach (var guns in Model.allGuns)
        {
            <div>
            <h2>Модель: @guns.name</h2>
            <p>Цена: @guns.price.ToString("c")</p>
            </div>
        }
        }
