@using Project.Data.Models
@model IEnumerable<Guns>
@{
    Layout = null;
}
@{
}
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
    </head>
    <body>
        <h2>Все Оружия</h2>
    @{
        foreach (var guns in Model)
        {
            <div>
            <h2>Модель: @guns.name</h2>
            <p>Цена: @guns.price.ToString("c")</p>
            </div>
        }
        }
    </body>
</html>