@model ShopGunsViewModel
<div class="container">
    @foreach(var el in Model.shopGuns.listShopItems)
    {
        <div class="alert alert.warning mt-3">
            <b>Оружия:</b>@el.guns.name<br />
            <b>Цена:</b>@el.guns.price.ToString("c")
         </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="Checkout">Оплатить</a>
</div>